<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>👀회원 목록(@MVC : JdbcDaoSupport 사용)👀</h3>

<a href="insert">회원 추가</a> 또는 <a th:href="@{/insert}">추가</a>
<table border="1">
	<th:block th:if="${list.size > 0}">
		<tr>
			<th>I   D</th>
			<th>회원명</th>
		</tr>
		<tr th:each="mem:${list}">
			<td th:text="${mem.id}">ID</td>
			<!-- 
			<td th:text="${mem.name}">이름</td>
			 -->
			 <td>
			 	<a th:href="@{/detail(id=${mem.id})}" th:text="${mem.name}">이름</a>
			 </td>
		</tr>
	</th:block>
</table>
</body>
</html>