<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
main main main main<br>
main main main main<br>
main main main main<br>
<a href="test">test test</a>
<br>
main main main main<br>
main main main main<br>
main main main main<br>
<form action="test2">
    부서별 직원 출력 <select name="buserName" id="">
                        <option value="총무부">총무부</option>
                        <option value="영업부">영업부</option>
                        <option value="전산부">전산부</option>
                        <option value="관리부">관리부</option>
                    </select>
    <input type="submit" value="확 인">
</form>
<br>
<br>
<br>
<a href="test4">240801</a>
</body>
</html>