<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>templates/insform.html</title>
</head>
<body>
insform insform insform insform<br>
insform insform insform insform<br>
<br>
<br>
<h3>* 글쓰기 *</h3>
<form th:action="@{/insert}" method="post">
  작성자 : <input type="text" name="author"><br>
  글제목 : <input type="text" name="title"><br><br>
  글내용 : <textarea rows="5" cols="50" name="content"></textarea><br>
  <input type="submit" value="저장">
</form>
</body>
</html>